{
  "env": {
    "browser": true,
    "es2022": true,
    "jquery": true
  },
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/base",
    "plugin:vue/essential",
    "plugin:vue/strongly-recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "standard-with-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-new": "off"
  }
}
