table.dataTable thead th {
  font-size: 0.75rem;
}
table.dataTable tbody tr {
  background-color: inherit;
}
table.dataTable tbody tr.even {
  background-color: rgba(0, 0, 0, 0.2);
}
table.dataTable tbody tr.selected,
table.dataTable tbody tr.selected.even {
  background-color: rgba(23, 162, 184, 0.75);
}
table.dataTable tbody tr:hover,
table.dataTable tbody tr.even:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
table.dataTable tbody tr.selected:hover,
table.dataTable tbody tr.selected.even:hover {
  background-color: rgba(23, 162, 184, 1);
}
table.dataTable tbody td {
  font-size: 0.66rem;
}
