.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #fff;
}
table.dataTable thead th {
  font-size: 0.75rem;
}
table.dataTable tbody tr {
  background-color: inherit;
}
table.dataTable tbody tr.even {
  background-color: rgba(0, 0, 0, 0.2);
}
table.dataTable tbody tr.selected,
table.dataTable tbody tr.selected.even {
  background-color: rgba(128, 128, 255, 0.5);
}
table.dataTable tbody tr:hover,
table.dataTable tbody tr.even:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
table.dataTable tbody tr.selected:hover,
table.dataTable tbody tr.selected.even:hover {
  background-color: rgba(128, 128, 255, 0.75);
}
table.dataTable tbody td {
  font-size: 0.66rem;
}
