/* EditBox styles *************************************************************/
@import '~tinymce/skins/ui/tinymce-5-dark/skin.min.css';
@import '~tinymce/skins/ui/tinymce-5-dark/content.min.css';
@import '~tinymce/skins/content/tinymce-5-dark/content.min.css';

.editbox-component {
  height: 17vh;
  padding: 0 7px 7px;

  .tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: #222 !important;
  }

  .tox {
    &.tox-tinymce {
      border: 1px solid #222;
    }

    .tox-tbtn {
      color: #aaa;

      svg {
        fill: #aaa;
      }
    }

    .tox-statusbar {
      background-color: #222;
    }

    .tox-edit-area__iframe {
      border: 1px solid #888;
    }
  }
}
