<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="row mr-0 mb-2">
  <div class="col-3">
    <button type="button" (click)="deleteLine()" id="btnDeleteLine" class="ml-3 btn-sm btn-danger">
      Delete Line
    </button>
  </div>
  <div class="col-7 form-inline">
    <!-- TODO: convert these to real time pickers/spinners a la a/v editors (need to create?) -->
    <label class="col-form-label col-form-label-sm pr-2" for="durationMS">
      Duration (milliseconds)
    </label>
    <input
      type="number"
      step="1000"
      name="durationMS"
      class="form-control form-control-sm"
      id="durationMS"
      placeholder="0"
      value="{{ durationMS }}"
    />
    <label class="col-form-label col-form-label-sm pl-4 pr-2" for="cssClass">
      CSS Class(es)
    </label>
    <input
      type="text"
      name="cssClass"
      class="form-control form-control-sm"
      id="cssClass"
      placeholder="example-class1, example-class2"
      value="{{ cssClass }}"
    />
  </div>
  <div class="col-2 text-right">
    <button type="button" (click)="saveLine()" id="btnSaveLine" class="btn-sm btn-info">Save Line</button>
  </div>
</div>
<angular-editor id="line-editor" [(ngModel)]="entryContent" [config]="editorConfig">{{ entryContent }}</angular-editor>
<input type="hidden" id="entryContent" name="entryContent" value="{{ entryContent }}" />
<input type="hidden" id="lineID" name="lineID" value="{{ lineNumber }}" />
