<div class="row mr-0 mb-2">
  <div id="hypertitles-toolbar" class="col-6">
    <button type="button" (click)="openScript()" id="toolbar-open" title="Open Script...">
      <i class="fa fa-sm fa-folder-open"></i>
    </button>
    <button type="button" (click)="saveScript()" id="toolbar-save" title="Save Script">
      <i class="fa fa-sm fa-save"></i>
    </button>
    <button type="button" (click)="saveScript(true)" id="toolbar-save-as" title="Save Script As...">
      <i class="fa fa-sm fa-save"></i>
      <i class="fa fa-sm fa-pencil" style="margin-left:-11px"></i>
    </button>

    <span class="toolbar-separator">&#8203;</span>

    <button type="button" id="toolbar-export" disabled title="Export Script...">
      <i class="fa fa-sm fa-cloud-upload"></i>
    </button>
    <button type="button" id="toolbar-import" disabled title="Import Script...">
      <i class="fa fa-sm fa-cloud-download"></i>
    </button>
  </div>
  <div id="statusbar" class="col-6 text-right pr-2 pt-1 text-muted" [innerHTML]="statusContent"></div>
</div>
