<app-toolbar></app-toolbar>
<ngb-tabset id="ht-tabs">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <span class="tab-title"> <fa name="edit" size="2x" inverse="true"></fa> <span>Editor</span> </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-editor></app-editor>
    </ng-template>
  </ngb-tab>
  <!--<ngb-tab>
    <ng-template ngbTabTitle>
      <span class="tab-title"> <fa name="book" size="2x"></fa> <span>Rehearsal</span> </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-rehearsal></app-rehearsal>
    </ng-template>
  </ngb-tab>-->
  <!--<ngb-tab>
    <ng-template ngbTabTitle>
      <span class="tab-title"> <fa name="ticket" size="2x"></fa> <span>Performance</span> </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-performance></app-performance>
    </ng-template>
  </ngb-tab>-->
  <!--<ngb-tab>
    <ng-template ngbTabTitle>
      <span class="tab-title"> <fa name="gear" size="2x" inverse="true"></fa> <span>Settings</span> </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-settings></app-settings>
    </ng-template>
  </ngb-tab>-->
</ngb-tabset>
