/* App styles *****************************************************************/

body {
  background-color: #111;
}

// Tabs
ul.nav-tabs {
  li.nav-item {
    margin: 4px 4px 0;

    &:first-child {
      margin-left: 8px;
    }

    &:only-child {
      span.close {
        display: none; // hide close button for single tab
      }
    }

    a.nav-link {
      border: 1px solid #444;
      color: #888;
      padding: 4px 7px;
      vertical-align: middle;

      &.active {
        border-bottom: 1px solid #222;
        color: #fff;
      }

      span.mi {
        font-size: 22px;
        display: inline-block;
        margin-top: -3px;
        vertical-align: middle;
      }

      span.close {
        text-decoration: none;
        color: #888;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
