#ht-tabs .nav-link {
  padding: 0.1rem 1rem;
  margin: 0.2rem 0 0 0.2rem;
  border: 1px solid #454d55;
  font-size: 0.75rem;
  width: 9rem;
  text-align: center;
  font-weight: bold;
  color: #99b;

  span {
    display: inline-flex;

    span {
      padding-top: 3px;
    }
    fa {
      padding-right: 5px;

      i.fa-inverse {
        color: #99b;
      }
    }
  }
}

.ae-font.ae-expanded .ae-picker-options {
  max-height: 75vh;
  overflow-y: scroll;
}

app-edit-box
  .angular-editor[_ngcontent-ltr-c6]
  .angular-editor-wrapper[_ngcontent-ltr-c6]
  .angular-editor-textarea[_ngcontent-ltr-c6] {
  background-color: #ddd;
  color: black;
}
